Co-working Space Web Form automation Main Workflow.json
{
  "name": "Co-working Space Web Form automation Main Workflow",
  "nodes": [
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14",
          "mode": "list",
          "cachedResultName": "Version 2 Innovista messages log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Islamabad",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json[\"TimeSamp\"].split(\" \")[1].replace(\",\", \"\") + \" \" + $json[\"TimeSamp\"].split(\" \")[0].split(\"-\")[2] + \" \" + $json[\"TimeSamp\"].split(\" \")[2] }}",
            "Time": "={{ $json[\"TimeSamp\"].split(\" \")[3] }}",
            "Full-Name": "={{ $json.body['Full-Name'] }}",
            "Email-Address": "={{ $json.body['Email-Address'] }}",
            "Phone-Number": "={{ $json.body['Phone-Number'] }}",
            "Package-Interested": "={{ $json.body['Package-Interested'] }}",
            "Select-Chapter": "={{ $json.body['Select-Chapter'] }}",
            "Message": "={{ $json.body.Message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full-Name",
              "displayName": "Full-Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email-Address",
              "displayName": "Email-Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone-Number",
              "displayName": "Phone-Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Package-Interested",
              "displayName": "Package-Interested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Select-Chapter",
              "displayName": "Select-Chapter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -128,
        -48
      ],
      "id": "105676f1-2be0-4bbb-864c-d5946cd4bd7e",
      "name": "Islamabad",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A3VQM4KDgqdvdkOs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14",
          "mode": "list",
          "cachedResultName": "Version 2 Innovista messages log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 203117331,
          "mode": "list",
          "cachedResultName": "Quetta",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14/edit#gid=203117331"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full-Name": "={{ $json.body['Full-Name'] }}",
            "Email-Address": "={{ $json.body['Email-Address'] }}",
            "Phone-Number": "={{ $json.body['Phone-Number'] }}",
            "Package-Interested": "={{ $json.body['Package-Interested'] }}",
            "Select-Chapter": "={{ $json.body['Select-Chapter'] }}",
            "Message": "={{ $json.body.Message }}",
            "Date": "={{ $json[\"TimeSamp\"].split(\" \")[1].replace(\",\", \"\") + \" \" + $json[\"TimeSamp\"].split(\" \")[0].split(\"-\")[2] + \" \" + $json[\"TimeSamp\"].split(\" \")[2] }}",
            "Time": "={{ $json[\"TimeSamp\"].split(\" \")[3] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full-Name",
              "displayName": "Full-Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email-Address",
              "displayName": "Email-Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone-Number",
              "displayName": "Phone-Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Package-Interested",
              "displayName": "Package-Interested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Select-Chapter",
              "displayName": "Select-Chapter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -128,
        144
      ],
      "id": "46eed70e-46be-4a6d-b616-48271a698dab",
      "name": "Quetta",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A3VQM4KDgqdvdkOs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14",
          "mode": "list",
          "cachedResultName": "Version 2 Innovista messages log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2142336119,
          "mode": "list",
          "cachedResultName": "Lahore",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14/edit#gid=2142336119"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full-Name": "={{ $json.body['Full-Name'] }}",
            "Email-Address": "={{ $json.body['Email-Address'] }}",
            "Phone-Number": "={{ $json.body['Phone-Number'] }}",
            "Package-Interested": "={{ $json.body['Package-Interested'] }}",
            "Select-Chapter": "={{ $json.body['Select-Chapter'] }}",
            "Message": "={{ $json.body.Message }}",
            "Time": "={{ $json[\"TimeSamp\"].split(\" \")[3] }}",
            "Date": "={{ $json[\"TimeSamp\"].split(\" \")[1].replace(\",\", \"\") + \" \" + $json[\"TimeSamp\"].split(\" \")[0].split(\"-\")[2] + \" \" + $json[\"TimeSamp\"].split(\" \")[2] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full-Name",
              "displayName": "Full-Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email-Address",
              "displayName": "Email-Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone-Number",
              "displayName": "Phone-Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Package-Interested",
              "displayName": "Package-Interested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Select-Chapter",
              "displayName": "Select-Chapter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -128,
        336
      ],
      "id": "5f930406-4235-463c-a6e6-e6b75585fb24",
      "name": "Lahore",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A3VQM4KDgqdvdkOs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14",
          "mode": "list",
          "cachedResultName": "Version 2 Innovista messages log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1636642362,
          "mode": "list",
          "cachedResultName": "Karachi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14/edit#gid=1636642362"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full-Name": "={{ $json.body['Full-Name'] }}",
            "Email-Address": "={{ $json.body['Email-Address'] }}",
            "Phone-Number": "={{ $json.body['Phone-Number'] }}",
            "Package-Interested": "={{ $json.body['Package-Interested'] }}",
            "Select-Chapter": "={{ $json.body['Select-Chapter'] }}",
            "Message": "={{ $json.body.Message }}",
            "Date": "={{ $json[\"TimeSamp\"].split(\" \")[1].replace(\",\", \"\") + \" \" + $json[\"TimeSamp\"].split(\" \")[0].split(\"-\")[2] + \" \" + $json[\"TimeSamp\"].split(\" \")[2] }}",
            "Time": "={{ $json[\"TimeSamp\"].split(\" \")[3] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full-Name",
              "displayName": "Full-Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email-Address",
              "displayName": "Email-Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone-Number",
              "displayName": "Phone-Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Package-Interested",
              "displayName": "Package-Interested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Select-Chapter",
              "displayName": "Select-Chapter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -128,
        528
      ],
      "id": "6a81024a-c83b-4ce9-ad88-70c44d852e7c",
      "name": "Karachi",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A3VQM4KDgqdvdkOs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14",
          "mode": "list",
          "cachedResultName": "Version 2 Innovista messages log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 927092135,
          "mode": "list",
          "cachedResultName": "Multan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14/edit#gid=927092135"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full-Name": "={{ $json.body['Full-Name'] }}",
            "Email-Address": "={{ $json.body['Email-Address'] }}",
            "Phone-Number": "={{ $json.body['Phone-Number'] }}",
            "Package-Interested": "={{ $json.body['Package-Interested'] }}",
            "Select-Chapter": "={{ $json.body['Select-Chapter'] }}",
            "Message": "={{ $json.body.Message }}",
            "Date": "={{ $json[\"TimeSamp\"].split(\" \")[1].replace(\",\", \"\") + \" \" + $json[\"TimeSamp\"].split(\" \")[0].split(\"-\")[2] + \" \" + $json[\"TimeSamp\"].split(\" \")[2] }}",
            "Time": "={{ $json[\"TimeSamp\"].split(\" \")[3] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full-Name",
              "displayName": "Full-Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email-Address",
              "displayName": "Email-Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone-Number",
              "displayName": "Phone-Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Package-Interested",
              "displayName": "Package-Interested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Select-Chapter",
              "displayName": "Select-Chapter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -128,
        720
      ],
      "id": "539379fa-167c-41e2-a2aa-20ae03a818e7",
      "name": "Multan",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A3VQM4KDgqdvdkOs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14",
          "mode": "list",
          "cachedResultName": "Version 2 Innovista messages log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 202178935,
          "mode": "list",
          "cachedResultName": "Gujranwala",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s8eZh9rdh8moGvmAvu4-tN89n28gtCmcnSCddC98G-g/edit#gid=202178935"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full-Name": "={{ $json.body['Full-Name'] }}",
            "Email-Address": "={{ $json.body['Email-Address'] }}",
            "Phone-Number": "={{ $json.body['Phone-Number'] }}",
            "Package-Interested": "={{ $json.body['Package-Interested'] }}",
            "Select-Chapter": "={{ $json.body['Select-Chapter'] }}",
            "Message": "={{ $json.body.Message }}",
            "Date": "={{ $json[\"TimeSamp\"].split(\" \")[1].replace(\",\", \"\") + \" \" + $json[\"TimeSamp\"].split(\" \")[0].split(\"-\")[2] + \" \" + $json[\"TimeSamp\"].split(\" \")[2] }}",
            "Time": "={{ $json[\"TimeSamp\"].split(\" \")[3] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full-Name",
              "displayName": "Full-Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email-Address",
              "displayName": "Email-Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone-Number",
              "displayName": "Phone-Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Package-Interested",
              "displayName": "Package-Interested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Select-Chapter",
              "displayName": "Select-Chapter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -128,
        912
      ],
      "id": "cf4f0c6b-0836-492c-8abe-2498d91ac747",
      "name": "Gujranwala",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A3VQM4KDgqdvdkOs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14",
          "mode": "list",
          "cachedResultName": "Version 2 Innovista messages log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1884600267,
          "mode": "list",
          "cachedResultName": "Bahawalpur",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14/edit#gid=1884600267"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full-Name": "={{ $json.body['Full-Name'] }}",
            "Email-Address": "={{ $json.body['Email-Address'] }}",
            "Phone-Number": "={{ $json.body['Phone-Number'] }}",
            "Select-Chapter": "={{ $json.body['Select-Chapter'] }}",
            "Package-Interested": "={{ $json.body['Package-Interested'] }}",
            "Time": "={{ $json[\"TimeSamp\"].split(\" \")[3] }}",
            "Date": "={{ $json[\"TimeSamp\"].split(\" \")[1].replace(\",\", \"\") + \" \" + $json[\"TimeSamp\"].split(\" \")[0].split(\"-\")[2] + \" \" + $json[\"TimeSamp\"].split(\" \")[2] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full-Name",
              "displayName": "Full-Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email-Address",
              "displayName": "Email-Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone-Number",
              "displayName": "Phone-Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Package-Interested",
              "displayName": "Package-Interested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Select-Chapter",
              "displayName": "Select-Chapter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -128,
        1104
      ],
      "id": "5c39230f-dca1-44ae-bf54-6382f3f99422",
      "name": "Bahawalpur",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A3VQM4KDgqdvdkOs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14",
          "mode": "list",
          "cachedResultName": "Version 2 Innovista messages log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 903154781,
          "mode": "list",
          "cachedResultName": "Peshawar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14/edit#gid=903154781"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json[\"TimeSamp\"].split(\" \")[1].replace(\",\", \"\") + \" \" + $json[\"TimeSamp\"].split(\" \")[0].split(\"-\")[2] + \" \" + $json[\"TimeSamp\"].split(\" \")[2] }}",
            "Full-Name": "={{ $json.body['Full-Name'] }}",
            "Email-Address": "={{ $json.body['Email-Address'] }}",
            "Phone-Number": "={{ $json.body['Phone-Number'] }}",
            "Package-Interested": "={{ $json.body['Package-Interested'] }}",
            "Select-Chapter": "={{ $json.body['Select-Chapter'] }}",
            "Message": "={{ $json.body.Message }}",
            "Time": "={{ $json[\"TimeSamp\"].split(\" \")[3] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full-Name",
              "displayName": "Full-Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email-Address",
              "displayName": "Email-Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone-Number",
              "displayName": "Phone-Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Package-Interested",
              "displayName": "Package-Interested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Select-Chapter",
              "displayName": "Select-Chapter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -128,
        1296
      ],
      "id": "8836973a-b74a-47f6-811b-648c0f607e98",
      "name": "Peshawar",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "A3VQM4KDgqdvdkOs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d0752ccf-3303-40a2-a200-6e1ec571018f",
                    "leftValue": "={{ $json.body['Select-Chapter'] }}",
                    "rightValue": "Innovista Rawal-Islamabad",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b7dd57c1-b8bb-4d80-9ed7-b93b20f033ac",
                    "leftValue": "={{ $json.body['Select-Chapter'] }}",
                    "rightValue": "Innovista Chaghi- Quetta",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9273d20f-4baf-4775-8ea6-6b1c7245a8d3",
                    "leftValue": "={{ $json.body['Select-Chapter'] }}",
                    "rightValue": "Innovista Ravi- Lahore",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aad706fb-13b6-4186-92eb-c7de60c908a9",
                    "leftValue": "={{ $json.body['Select-Chapter'] }}",
                    "rightValue": "Innovista Indus-Karachi",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9a964af4-7f99-4571-8d6d-82c3137e041b",
                    "leftValue": "={{ $json.body['Select-Chapter'] }}",
                    "rightValue": "Innovista Chenab- Multan",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "51551dcd-a534-49b8-95c6-920039a72ac4",
                    "leftValue": "={{ $json.body['Select-Chapter'] }}",
                    "rightValue": "Innovista Rachna- Gujranwala",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "32262663-ec96-4eb7-97d7-e901aa9ee73a",
                    "leftValue": "={{ $json.body['Select-Chapter'] }}",
                    "rightValue": "Innovista Cholistan- Bahawalpur",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "58966887-fc2d-41ba-88e1-cf3e0348b5a3",
                    "leftValue": "={{ $json.body['Select-Chapter'] }}",
                    "rightValue": "Innovista Khyber- Peshawar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -576,
        528
      ],
      "id": "ba030461-1a77-45b1-87e6-9e91aed4f862",
      "name": "Chapter Wise Distribution"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae8352bc-84fd-4805-8458-457f236ae326",
              "name": "TimeSamp",
              "value": "={{ $now.format(\"YYYY-MM-DD HH:mm:ss\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        720
      ],
      "id": "5dffe2fb-4250-411c-96b8-a59044e56e4f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "62e5236d-7168-4796-bf87-8ec11bcc6dd4",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -800,
        624
      ],
      "id": "72d456b2-011b-4f9a-b9cc-c675f25d945b",
      "name": "Webhook",
      "webhookId": "62e5236d-7168-4796-bf87-8ec11bcc6dd4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae8352bc-84fd-4805-8458-457f236ae326",
              "name": "TimeSamp",
              "value": "={{ $now.format(\"YYYY-MM-DD HH:mm:ss\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        -48
      ],
      "id": "1108eab8-0c83-4ecb-9438-85d36448b185",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae8352bc-84fd-4805-8458-457f236ae326",
              "name": "TimeSamp",
              "value": "={{ $now.format(\"YYYY-MM-DD HH:mm:ss\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        144
      ],
      "id": "68da439c-815d-4eb0-84f9-aa2e6a521b41",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae8352bc-84fd-4805-8458-457f236ae326",
              "name": "TimeSamp",
              "value": "={{ $now.format(\"YYYY-MM-DD HH:mm:ss\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        336
      ],
      "id": "8ae4851a-23a9-4023-9469-5eadbcbdc686",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae8352bc-84fd-4805-8458-457f236ae326",
              "name": "TimeSamp",
              "value": "={{ $now.format(\"YYYY-MM-DD HH:mm:ss\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        528
      ],
      "id": "7e5c305a-4570-49b1-ae60-4fd69ebffbac",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae8352bc-84fd-4805-8458-457f236ae326",
              "name": "TimeSamp",
              "value": "={{ $now.format(\"YYYY-MM-DD HH:mm:ss\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        912
      ],
      "id": "07c99590-7b89-4e5f-ac65-4bdf2fbc89d7",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae8352bc-84fd-4805-8458-457f236ae326",
              "name": "TimeSamp",
              "value": "={{ $now.format(\"YYYY-MM-DD HH:mm:ss\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        1104
      ],
      "id": "a2f6059d-2b65-466c-a194-ae34b34620b3",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae8352bc-84fd-4805-8458-457f236ae326",
              "name": "TimeSamp",
              "value": "={{ $now.format(\"YYYY-MM-DD HH:mm:ss\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        1296
      ],
      "id": "84abb519-70f5-4f33-82cb-3e0de8ab2242",
      "name": "Edit Fields7"
    }
  ],
  "pinData": {},
  "connections": {
    "Chapter Wise Distribution": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Multan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Chapter Wise Distribution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Islamabad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Quetta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Lahore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Karachi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Gujranwala",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Bahawalpur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Peshawar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f1a91056-990a-40c9-9f7e-d63b5ca4b0e1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a61a0c9f9a028917df186c46db724261ff90480efca0ef362565435a9a036abc"
  },
  "id": "QZzrKkZ96kxu5vkO",
  "tags": []
}